{% extends 'baseAdmin.html' %}

{% block nav %}
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'addmeal' %}">ADD MEAL</a></li>
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
    </ul>
</div>
</div>
</nav>
{% endblock %}


{% block banner %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="page-header">
            <h2> Change the details of a food Product or select the delete button to remove the selected food product</h2>
        </div>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    {{ form.as_p }}
                    <hr>
                    <button type="submit" class="btn-success btn">Save Product</button>
                    {% if product %}
                    <a href="{% url 'deletemeal' product.id %}" role="button" class="btn-success btn">Delete Product</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}