{% extends "dashboard_base.html" %}

{% load crispy_forms_tags %}



{% block banner %}

<div class="container-fluid">
    <div class="row text-center">
        <div class="pahe-header">
                <h1 style="font-size: 25px"> give feedback</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if all_products %}
        {% for product in all_products %}
        <div class="col-sm-4">
            <p class="text-center"><strong>{{ product.meal }} at {{ product.price }} per pack</strong></p>
            <button class="btn btn-danger btn-bg  btn-block" type="button">{{ product.meal }}
            </button><br>
        </div>
        {% endfor %}
        {% else %}
        <h3>no products</h3>
        {% endif %}
    </div>
</div>
<div class="container-fluid bg-grey">

    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <div class="form-group">
                        <button class="form-control btn btn-success" name="submit" type="submit">Send feedback</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function () {
            $('button[type="button"').click(function () {
                  var text = $(this).text();
                  $('input[name="Product"').val(text);
            });
      });
</script>
    {% endblock %}